<div class="container">
  <h3>Multiple Choice</h3>
  <h4>{{question.question}}</h4>
  <div class="form-check">
    <div *ngFor="let option of question.choices">
      <input [(ngModel)]="answer"
             id="defaultCheck3"
             type="radio"
             value="{{option}}"
             class="form-check-input"
             name="{{question._id}}"/> {{option}}
      <label class="form-check-label" for="defaultCheck3">
      </label>
    </div>
  </div>
  Your answer: {{answer}}
  <br/>
  <span class="list-group-item list-group-item-primary" [hidden]="answer==''">Correct Answer:{{question.correct}}</span>
  <span class="list-group-item list-group-item-danger" [hidden]="answer==''||answer === question.correct">Wrong answer</span>
  <span class="list-group-item list-group-item-success" [hidden]="answer==''||answer !== question.correct">Right answer</span>
</div>
